/* home */
#home .board{margin-bottom: 10%; }
#home .board2{width:310px; }
#home .section{display: flex; justify-content: space-between;}
#home .title{border-bottom: 2px solid var(--s-g2); font-size: 18px; padding-bottom: 15px; font-weight: bold; margin-bottom: 30px;}
#home .article{display: flex; justify-content: space-between;font-size: 17px;}
#home .a{color: black;font-size: 17px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;  }
#home .a1{width:610px; margin-bottom: 40px; } 
#home .a2{width : 240px;margin-bottom: 30px; } 
#home .major{color: var(--m-lg); font-size: 14px;} 
#home .login{display: flex;flex-direction: column; align-items: center;}
#home .link{color: var(--m-g); border-radius: 5px; border: 2px solid var(--m-g); height: 40px; width:200px; display: block; text-align: center;font-weight: bold; line-height: 2.5em; margin-top: 15px;}

#home .pf-box{display: flex; justify-content: space-between; margin-top:-10px; margin-bottom: 20px;align-items: center;}
#home .pf{display: flex;align-items: center;}
#home .pf1{width:37px; height: 37px; border-radius: 50%; background-color: antiquewhite; }
#home .pf2{font-weight: bold; margin-left: 15px;}
#home .pf3{font-size: 13px; border:2px solid var(--s-g2); padding:4px 15px 4px 15px; border-radius: 20px; font-weight: bold;}
#home .rank-1{color:var(--r-1); border-color: var(--r-1);}
#home .rank-2{color:var(--r-2); border-color: var(--r-2);} 

/* main-board */ 
.main-board .mode{display: flex; justify-content: flex-end; margin-bottom:30px; margin-top: 10px;}
.main-board .icon{color:rgb(34, 34, 34); margin-left: 5px;}
.main-board .cur{color:var(--s-g2);} 
.main-board .title{font-weight: bold; font-size: 17px;}

/* study-as-peed */

/* study-as-list */ 
#study-as-list .article{color: black; display: flex; justify-content: space-between; align-items: center; margin-bottom: 35px;}
#study-as-list .a-title{width: 550px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#study-as-list .a-tail{color: var(--s-g2); display: flex;align-items: center; font-size: 14px;}
#study-as-list .a-tail .icon{color: var(--s-g2); font-size: 15px;}
#study-as-list .pagenation{display: flex;justify-content: center; margin-top: 60px;}

/* search-result, search-result-plus*/
.search-result .h1{font-size: 22px;padding-bottom: 50px; font-size: 20px; font-weight: bold;}
.search-result .h2{font-size: 16px; padding-bottom: 25px; margin-bottom: 35px; border-bottom: 2px solid var(--s-g2);}
.search-result .container{ min-height: 300px; margin-bottom: 15%;}
.search-result .article{display: block; color: black; margin-bottom: 30px;}
.search-result .title{font-size:16px; width:550px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.search-result .row1{display: flex;  align-items: center;justify-content: space-between; margin-bottom: 10px;}
.search-result .icon-box{display:flex; align-items: center; font-size:12px;}
.search-result .icon{font-size: 13px; color: var(--s-g2);}
.search-result .row2{font-size:14px; width:550px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.search-result .plus{display: block; margin:0 auto; text-align: center; background-color: var(--s-g0); border:1px solid var(--s-g1); padding:13px; font-size: 14px; color: var(--s-g2); margin-top: 50px;} 
.search-result .plus:hover{cursor: pointer; color: black; border-color:var(--s-g2); }
.search-result .empty{height: 100px; text-align: center; padding-top: 50px;}
.search-result .highlight{color:var(--h);}

.search-result .pagenation{display: flex;justify-content: center; margin-top: 60px;}