/* mypage */ 
#mypage .top{height:45px; margin-bottom: 30px; border:none; background-color: var(--m-lg); color: white;font-size: 14px; line-height: 3em; padding-left: 10px; font-weight: bold; font-size: 15px;}
#mypage .info{width:280px; display: flex;justify-content: flex-start; align-items: center; flex-direction: column;}
#mypage .update{width:360px; height: 270px; display: flex;flex-direction: column; justify-content: space-evenly;}
#mypage .content1{display: flex;justify-content: space-around;align-items: center; margin-bottom: 25px;}
#mypage .content2{display: flex; flex-direction: row; justify-content: flex-start;  height:320px;  margin-top: 20px;} 

/* mypage - 개인정보 */
#mypage .img{width:95px; height:95px;border-radius: 50%; margin-bottom: 20px; overflow: hidden; position: relative;} 
#mypage .info-p1{font-weight: bold; font-size: 16px; margin-bottom: 20px;}
#mypage .info-p{font-size: 16px;margin-bottom: 10px; text-align: center;}
#mypage .info-p3{font-size: 12px; text-decoration: underline; color: var(--s-g2);margin-top: 7px;}
#mypage .input{ cursor: pointer; margin-left: 15px; background-color: transparent; border: none; }
#mypage .info-icon{ display: flex; }
#mypage .edit-icon{font-size: 60px;position:absolute; cursor: pointer; color:rgba(255, 255, 255, 0.5); border-radius: 50%; padding: 5px; right: 0; top:0; left: 0; bottom: 0; margin:auto;}
#mypage .img-click-box{position:absolute; z-index: 10; background: red;}

/* mypage - 개인정보수정 */
#mypage .check{font-size: 13px; color:red; padding-left: 85px; margin-top: 3px;} 
#mypage .check.pass{color:blue;}
#mypage .row{display:flex; align-items: center;} 
#mypage .row-t{font-size: 15px; width:80px;}
#mypage .row-2{ padding-left: 10px; background-color: var(--s-g0);  border-radius: 7px; border:1px solid var(--s-g1); width:170px; height: 40px;  color:var(--s-g2);}
#mypage .row-2:hover, #mypage .gd-btn:hover, #mypage .major:hover{border-color: var(--s-g2);}
#mypage .row-2:focus{color:black; border-color: var(--s-g2);}
#mypage .nic-btn{cursor: default; background-color: var(--s-g0);display: block; border-radius: 7px; border:1px solid var(--s-g1); width:85px; height: 40px; margin-left: 10px; color:var(--s-g2);}
#mypage .nic-btn.on{cursor: pointer; background-color:var(--s-b1); color: white; }
#mypage .gd-btn{background-color: var(--s-g0);display: block; border-radius: 7px; border:1px solid var(--s-g1); width:85px; height: 40px;color:var(--s-g2);}
#mypage .gd-btn.no{margin-left: 10px;}
#mypage .gd-btn.select{background-color:var(--s-b1); color: white;  border-color: var(--s-g2);}
#mypage .update-btn{margin: 0 auto; background-color: var(--s-g0);display: block; cursor:default; border-radius: 7px; border:1px solid var(--s-g1); width:85px; height: 40px; color:var(--s-g2);}
#mypage .update-btn.on{cursor:pointer; background-color:var(--m-dg); color: white;} 
#mypage .major{padding-left: 10px; background-color: var(--s-g0);  border-radius: 7px; border:1px solid var(--s-g1); width:181px; height: 40px;}
#mypage .major:hover{border-color: var(--s-g1)}
#mypage .major-btn{border:none; background: none; margin-top: 17px; margin-left:10px; color:var(--s-b1); font-size: 12px;}
#mypage .major-btn:hover{border-bottom: 1px solid var(--s-g2);}

/* mypage - 내 활동 */
#mypage .menu-box{color:var(--s-g1); margin-right:20px; padding-right: 20px; border-right: 1px solid var(--s-g1); }
#mypage .li{ margin-bottom: 30px; font-size: 15px; cursor: pointer;} 
#mypage .li.on{font-weight: bold;color: black;} 
#mypage .p{font-size: 14px; margin-bottom: 20px;}
#mypage .log-list{ width:545px;  display: flex; flex-direction: column; justify-content: space-between; }
#mypage .comment-box{margin-bottom: 12px;  padding: 10px;  border: 1px solid var(--s-g0-1); border-left: 3px solid var(--s-g1); }
/* #mypage .comment-box{margin-bottom: 12px;  padding: 10px;  box-shadow: 0 0 1px 1px var(--s-g1) ;} */
#mypage .article{color: black; margin-bottom: 20px; display: flex;  align-items: center;justify-content: space-between; }
#mypage .article.c{margin-bottom: 10px; align-items: flex-start; border: none;}
#mypage .c-content{font-size: 14px;  width: 80%; overflow: hidden; line-height: 1.3em; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical;}
#mypage .title{font-size:14px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 450px;}
#mypage .title.c{margin-bottom: 0; font-size:13px; display: block; width: 80%; color: var(--s-g2);}
#mypage .title.c:hover{color: black;}
#mypage .icon-box{display:flex; align-items: center; font-size:12px;}
#mypage .icon-box.c{font-size:10px;}
#mypage .title .icon{padding-right: 10px; color:var(--s-b1);}
#mypage .icon{font-size: 13px; color: var(--s-g2);}
#mypage .icon.c{font-size: 10px;}
/* #mypage .pagenation{text-align: center;} */
#mypage .del-icon{cursor:pointer;}
#mypage .empty{text-align: center; margin-top: 100px;} 



/* login */
.member-basic .to-main{font-size: 13px; text-align: end; margin-bottom: -10px;}
.member-basic .to-main:hover{text-decoration: underline;}
.member-basic{width:1100px; margin: 0 auto;  display: flex;align-items: center; justify-content: center;}
#login { height: 500px; padding-top: 120px; }
.member-basic .container{ margin:0 auto; display: flex; width: 400px; flex-direction: column; }
.member-basic .h1{text-align: center; font-size:23px; font-weight: bold; margin-bottom: 20px;}
.member-basic .input{ font-size:15px; height:47px; border:1px solid var(--s-g1);margin-top: 20px; border-radius: 3px; padding-left: 10px; }
#login .submit-btn{font-size:17px;  height:50px; border:none; background-color: var(--m-g); color:white; border-radius: 3px; margin-top: 20px; font-weight: bold;}
#login .etc-box{font-size: 14px; display: flex; flex-direction: row; justify-content: space-between;margin-top: 15px;}
#login .join-btn{font-weight:bold ;}
.member-basic .input:focus{outline: none;background-color: var(--s-g0); box-shadow: 0 0 1px 1px var(--m-g);}
.member-basic .input:hover{ box-shadow: 0 0 1px 1px var(--m-g);}


/* join */
#join .to-main{text-align: center; display: block; margin-top: 10px; font-size: 13px;}
#join{padding-top: 120px; padding-bottom: 70px;} 
.member-basic .auth-box{ display: flex; justify-content: space-between;}
.member-basic .ip-auth{width: 70%;}
.member-basic .auth-btn{ font-size:15px; margin-top: 20px; width: 25%; height:47px; background-color: var(--s-g0-2); color: white; border:none; border-radius: 5px; font-weight:bold ;}
.member-basic .auth-btn.on{background-color: black;}
.member-basic .auth-btn.on:hover{cursor: pointer;}
.member-basic .message-t{font-size: 13px; color:blue;margin-top: 5px; padding-left: 5px;}
.member-basic .message-f{font-size: 13px; color:red;margin-top: 5px; padding-left: 5px;}
#join .submit-btn{font-size:17px;  height:50px; border:none; background-color: var(--s-g0-2); color:white; border-radius: 3px; margin-top: 15px; font-weight: bold;}
#join .submit-btn.d{cursor: default;}
#join .submit-btn.on{background-color: var(--m-g); color:white;}
#join .login-box{font-size: 14px; color:var(--s-g2); margin: 0 auto; margin-top: 25px;} 
#join .login-btn{margin-left: 10px; text-decoration: underline; } 

#join .gd-box{display: flex; justify-content: space-between; margin-bottom: 80px; margin-top: 15px;}
#join .h1{margin-top: 50px;}
#join .gd-btn{cursor:pointer; transition: 0.2s; border-radius: 5px; border:1px solid var(--s-g1); background-color: white; display: block; width: 190px; height: 45px; color:var(--s-b1); } 
#join .gd-btn.on{background-color: var(--s-b1); color: white;} 
#join .submit-btn.width{width: 200px; margin: 0 auto;}
#join .submit-btn.no{cursor: default;}

#join .last-login-btn{font-size:17px; border: none; background-color: var(--m-g); color: white; text-align: center; line-height: 3em; height:50px; border-radius: 3px; margin-top: 20px; font-weight: bold;}
#join .last-login-btn:hover{cursor: pointer; background-color: var(--m-lg); color:white; transition: 0.3s;}
#join .h5{font-size: 18px; font-weight: bold; text-align: center; margin-top: 20px; margin-bottom: 25px; line-height: 1.5em;}

/* find */     
#find{height: 500px; padding-top: 120px;}
#find .menu-box{display: flex; justify-content: space-around;}
#find .submit-btn{font-size:17px;  height:50px; border:none; background-color: var(--m-g); color:white; border-radius: 3px; margin-top: 20px; font-weight: bold;}
#find .auth-btn{margin-top:20px;}
#find .input:focus{box-shadow: 0 0 5px 1px var(--m-dg); transition: 0.3s;}
#find .input.red:focus{box-shadow: 0 0 5px 1px var(--r); } 
#find .submit-btn{color:white; background-color: var(--s-g0-2);}
#find .submit-btn.on{background-color: var(--m-g);cursor: pointer; }

.member-basic .h2{font-size: 17px; text-align: center; font-weight: bold; line-height: 1.7em; margin-bottom: 15px;}
#find .h3{font-size: 14px; text-decoration: underline; text-align: center; cursor: pointer;}
.member-basic .h4{font-size:15px; text-align: center; margin-bottom: 10px; margin-top: -5px;}
#find .login-btn{font-size:17px; border: none; background-color: var(--m-g); color: white; text-align: center; line-height: 3em; height:50px; border-radius: 3px; margin-top: 20px; font-weight: bold;}
.member-basic .main-btn{font-size:17px; border: none; background-color: var(--s-b1); color:white; text-align: center; line-height: 3em; height:50px;  border-radius: 3px; margin-top: 20px; font-weight: bold;}
#find .login-btn:hover{ background-color: var(--m-lg); color:white; transition: 0.3s;}
.member-basic .main-btn:hover{ background-color: var(--m-y); color:white; transition:0.3s;}

