#dm {width: 180px; height:300px; background-color: white; border-radius: 10px; border: 2px solid var(--s-g2); position: absolute; z-index:1001; right:15px; top:200px; box-shadow: 1px 1px 2px 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; cursor: move; }


#dm .dm-login{border-bottom: 1px solid gray;padding: 20px;}

#dm *{margin-top: 10px; font-size: 20px;}