/* header */   
#header {border-bottom: 1px solid var(--s-g1); position:fixed;z-index: 999; width: 100vw; background-color: white;}
#header .header-wrap{width:1100px; margin:0 auto;}
#header .menu1{ padding: 20px 0px 5px 0px;display: flex; margin:0 auto; align-items: center;  }
#header .menu2{ padding: 10px 0px 15px 0px;}
#header .logo{ margin-right: 35px; width:120px;} 
#header .seach-text{ font-size: 14px; padding-left: 30px; color: var(--s-g2); background-color: var(--s-g0); border: 1px solid var(--s-g1); width: 540px; height: 40px; border-radius: 27px;}
#header .seach-text:hover, #header .seach-text:focus{box-shadow: 0 0 3px 1px var(--s-g1); transition: 0.3s;}
#header .seach-icon:hover{cursor: pointer;}
#header .seach-icon{font-size:20px; margin-right:20px; position:relative; right: 50px; top:7px; color:var(--s-g2);}
#header .m{margin-right:40px; color: var(--s-g2);  font-size: 15px;}
#header .m.on{color: black; }
 
/* footer */
#footer { margin-top:70px; background-color: var(--s-g0);}
#footer .wrap{padding-top : 40px; padding-bottom: 40px; display: flex; justify-content: space-between; align-items: center;}
#footer .text{ color:var(--s-g1); line-height: 2em; font-size: 12px; font-style: italic;}  
