/* color */  
:root {
  --m-lg : #98C793; 
  --m-g : #49A59A;
  --m-dg : #535A3B;
  --m-y: #FFD600;

  --s-g0 : #FBFBFB; /* 선 */
  --s-g0-1 : #EFEFEF; /* 선 */
  --s-g0-2 : #E0E0E0; /* 선 */

  --s-g1 : #CDCDCD; /* 선 */
  --s-g2 : #919191; /* 글씨 */
  --s-b1: #494949;

  /* 랭크 */
  --r-1: #FE1FF6; 
  --r-2:#FF9900;
  --r-3:#919191;

  /* 검색어표시 */
  --h:blue;

  /* 이메일형식불일치-비밀번호재설정 */
  --r:rgb(255, 68, 68);
  --r:red;
} 


/* wrap */
.wrap { width: 1100px; margin:0 auto; }  

/* main */
#main{display: flex;justify-content: space-between;  padding-top: 180px;}
#main .content{width: 680px;} 

/* open-chat */ 
#open-chat{width: 110px;height: 110px; border-radius:50%; background-color: var(--m-y); font-size: 15px; position: fixed; right: 50px; bottom: 50px; display: flex; align-items: center; justify-content: center;flex-direction: column;}

#open-chat .icon{font-size: 70px; color: white;}
#open-chat .text{ display: block; background-color: white; border: 1px solid black; border-radius: 50px; padding:5px 10px 5px 10px;position: absolute; bottom: -5px;}
#open-chat:hover{cursor: pointer;}
 